<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <style>
            .container
            {
                width: 800px;
                justify-content: center;
                align-items: center;
                align-content: center;
                display: flex;
                flex-direction: column;
            }

            .value
            {
                padding: 10px;
                background-color: #8257e6;
                color: #fff;
                border-radius: 15px;
                width: 15px;
                text-align: center;
                text-decoration: none;
            }

            .lvl
            {
                display: flex;
                margin: 10px;
                justify-content: space-between;
                width: 350px;
            }

            .answers
            {
                width: 350px;
                display: flex;
                justify-content: space-between;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <label>Olá <strong>{{name}}</strong>! Tudo bem?</label>
            <h3>{{title}}</h3>
            <br>
            <strong>{{description}}</strong>

            <div class="lvl">
                <strong>Pouco Provável</strong>
                <strong>Muito Provável</strong>
            </div>

            <div class="answers">
                <a href="{{link}}/1?u={{user_id}}" class="value">1</a>
                <a href="{{link}}/2?u={{user_id}}" class="value">2</a>
                <a href="{{link}}/3?u={{user_id}}" class="value">3</a>
                <a href="{{link}}/4?u={{user_id}}" class="value">4</a>
                <a href="{{link}}/5?u={{user_id}}" class="value">5</a>
                <a href="{{link}}/6?u={{user_id}}" class="value">6</a>
                <a href="{{link}}/7?u={{user_id}}" class="value">7</a>
                <a href="{{link}}/8?u={{user_id}}" class="value">8</a>
                <a href="{{link}}/9?u={{user_id}}" class="value">9</a>
                <a href="{{link}}/10?u={{user_id}}" class="value">10</a>
            </div>

            <br><br>

            <strong>Sua opinião é importante para mim</strong>

            <h3>Equipe | <strong>NLW 4.0</strong></h3>
        </div>
    </body>
</html>